body {
  font-family: helvetica, sans-serif;
  margin: 0;
}

/* general */

h1 {
  background-color: #777;
  color: #eee;

  margin: 0;
  padding: 20px;
  text-transform: capitalize;
}

/* form */

form {
  background-color: #777;
  padding: 20px;
}

label {
  color: #eee;
  text-transform: lowercase;
  font-variant: small-caps;
}

input[type=text], button {
  padding: 10px;
  border: 0;
  width: 70%;
}

button {
  width: 20%;
}

/* specific */

#user_list {
  background-color: #777;
  padding: 20px;
  font-size: .8em;
}

  #user_list ul {
    margin: 0;
    padding: 0;

    list-style: none;

    float: left;
  }

    #user_list ul li {
      padding: 0 10px 0 0;
      float: left;
    }

    /* clearfix */
    #user_list:after {
      content: "";
      display: table;
      clear: both;
    }


#message_list {
  padding: 20px;
}

  #message_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

    #message_list ul li {
      text-align: left;
      /*padding: 5px 0;*/
      float: left;
      width: 100%;
    }

      #message_list ul li.self {
        text-align: right;
      }

      #message_list ul li div.message {
        max-width: 75%;
        margin: 10px 0;
        float: left;
      }

      #message_list ul li.self div.message {
        float: right;
      }

      #message_list ul li div.message div.user {
        font-size: .8em;
        color: #777;
        padding: 0 10px;
      }

      #message_list ul li div.message div.content {
        background-color: #00f;
        color: #fff;
        border-radius: 10px;

        padding: 10px;
      }

  /* clearfix */
  #message_list:after {
    content: "";
    display: table;
    clear: both;
  }


#logout {
  background-color: #777;
  padding: 20px;
  cursor: pointer;
}


/* responsive */

@media screen and (min-width: 500px) {
  #user_list {
    /*border: 1px solid blue;*/
    background-color: inherit;
    float: left;
    width: 200px;
    padding: 0;
  }

    #user_list ul {
      float: none;
    }

    #user_list ul li {
      float: none;
      padding: 10px 20px;
      border-bottom: 1px solid #777;
    }

  #message_list {
    /*border: 1px solid red;*/
    margin: 0 0 0 200px;
  }
}

@media screen and (min-width: 800px) {
  main {
    width: 850px;
    margin: 0 auto;
  }
}
