<form {{action "send_message" on="submit"}}>
  <div class="form-group">
    <div class="col-md-5">
      {{input value=new_message_text class="form-control"}}
      <button class="btn btn-sm btn-primary">send</button>
   </div>
  </div>
</form>
