<div id="user_list">
  <ul>
    {{#each users as |user|}}
      {{#if user.loggedin}}
        {{#if user.isCurrentUser}}
          <li><b>{{user.nickname}}</b></li>
        {{else}}
          <li>{{user.nickname}}</li>
        {{/if}}
      {{/if}}
    {{/each}}
  </ul>
</div>
