<form {{action "login" on="submit"}}>
  <div class="form-group">
    <label for="name">Nickname</label>
    <div>
      {{input value=nickname class="form-control"}}
      <button>login</button>
   </div>
  </div>
</form>
